* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 400px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container h1 {
    margin-bottom: 10px;
    text-align: center;
}

.container h3 {
    font-size: 16px;
    text-align: center;
}

.container select {
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
}

.container #btn {
    background-color: rgb(255, 44, 44);
    color: white;
    padding: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.container #btn:hover {
    background-color: rgb(192, 5, 5);
}

@media (max-width: 400px) {
    .container {
        width: 300px;
        height: 550px;
    }
}